[user]
    name = pktangyue
    email = tangyue1004@gmail.com
[color]
    ui = auto
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[core]
    editor = vim
	excludesfile = /home/tangyue/.gitignore
[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    oneline = log --oneline --decorate
    onelog = log -p -1
    glog = log --pretty=format:\"%C(auto)%h %C(magenta)<%ad> %C(green)[%an] %C(blue normal bold)| %Creset%s%C(auto)%d\" --graph --date=short
    amend = commit --amend -C HEAD
    pr = pull --rebase
    smu = submodule update
[push]
    default = current
[rerere]
	enabled = true
